
<div id="<%= dom_id(question) %>" class="question">
  <%= turbo_stream_from dom_id(question) %>

  <% if question.user_question.present? %>
    <div class="message user-message">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.variant(resize_to_fill: [40, 40]), class: "avatar" %>
      <% else %>
      <%= image_tag "pngtree-a-otter-on-tire-with-green-background-png-image_13046574.png", class: "avatar" %>
      <% end %>
      <p class="user-question"><%= question.user_question %></p>
    </div>
  <% end %>

  <% if question.ai_answer.present? %>
    <div class="message ai-message">
      <%= image_tag "freepik-export-20241102225506weBX.png", class: "avatar" %>
      <p class="ai-answer"><%= question.ai_answer || "..." %></p>
    </div>
  <% end %>
</div>
