<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle user-avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "pngtree-a-otter-on-tire-with-green-background-png-image_13046574.png", class: "avatar dropdown-toggle user-avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Mon profil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Me deconnecter", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Me connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>


     <div class="navbar-center mx-auto">
      <%= link_to root_path do %>
        <img src="<%= asset_path('Nestify.png') %>" alt="Nestify Logo" class="navbar-logo">
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<!-- Loupe et barre de recherche -->
    <div class="d-flex align-items-center">
      <!-- Icône de loupe -->
      <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#searchBar" aria-expanded="false" aria-controls="searchBar">
        <i class="fa fa-search"></i>
      </button>

      <!-- Barre de recherche cachée -->
      <div class="collapse" id="searchBar">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
          <button class="btn btn-primary" type="submit">Go</button>
        </form>
      </div>
    </div>


  </div>
</div>
