<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Icone à gauche -->
 <div id="navbar-avatar" class="avatar-container">
  <% if user_signed_in? %>
    <!-- Si l'utilisateur est connecté -->
    <%= link_to edit_user_registration_path, class: "avatar-link" do %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "user-avatar", transformation: { dpr:"auto", responsive: true, width:"auto", crop:"scale", gravity: :face} %>
      <% else %>
        <%= image_tag "pngtree-a-otter-on-tire-with-green-background-png-image_13046574.png", class: "avatar" %>
        <%# <i class="fa-solid fa-user-circle fa-user" ></i> %>
      <% end %>
    <% end %>
  <% else %>
    <!-- Si l'utilisateur n'est pas connecté -->
    <%= link_to new_user_session_path, class: "avatar-link" do %>
      <i class="fa-solid fa-user fa-user"></i>
    <% end %>
  <% end %>
</div>


    <!-- Logo centré -->
    <div class="navbar-center mx-auto">
      <%= link_to root_path do %>
        <img src="<%= asset_path('Nestify.png') %>" alt="Nestify Logo" class="navbar-logo">
      <% end %>
    </div>

      <!-- Loupe et barre de recherche -->
    <div class="d-flex align-items-center">
      <!-- Icône de loupe -->
      <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#searchBar" aria-expanded="false" aria-controls="searchBar">
        <i class="fa fa-search"></i>
      </button>

      <!-- Barre de recherche cachée -->
      <div class="collapse" id="searchBar">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
          <button class="btn btn-primary" type="submit">Go</button>
        </form>
      </div>
    </div>

    <!-- Contenu collapsible -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboards_path, class: "nav-link" %>
          </li>
         <li class="nav-item">
            <%= link_to "Profil", "#", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
