<div class="text-package text-center mt-3">
  <h1><%= package.name %></h1>
</div>

<div class="text-center mt-3 mb-3">
  <p>
    Dans ce pack sont proposés les produits essentiels à une ambiance qui te ressemble. Tu peux personnaliser ton pack en ajoutant, remplaçant ou supprimant des produits. C'est ton univers, c'est toi qui décides !
  </p>
</div>

<%if fav == true %>

<div class="button-container d-flex justify-content-space gap-3 mt-4 pb-3">
   <%= link_to path, class: "btn btn-retour" do %>
    Mes packs favoris
   <% end %>


  <%# <%= link_to dashboards_path, class: "btn btn-dashboard" do %>
    <%# Favoris %>
  <%# <% end %>

  <%= render 'shared/favorite_button', proposal: proposal %>
</div>
<% else %>

<div class="button-container d-flex justify-content-space gap-3 mt-4 pb-3">
  <%= link_to path, class: "btn btn-retour" do %>
    Les packs
  <% end %>

  <%= render 'shared/favorite_button', proposal: proposal %>
</div>

<%end %>




<div class ="mt-4">
  <h3 id = "package-<%= package.id%>-budget" class="budget"> Budget total : <%= package.budget.round %>€ </h3>
  <%= turbo_stream_from "package-#{package.id}-budget" %>
  <%# mettre le lien du bouton pour enregistrer en favoris avec alerte %>
</div>

<hr class = "custom-hr">

<div id = "packages" >
  <% package.products.each do |product| %>
    <%= render "shared/product", product: product, package: package, fav: fav %>
  <% end %>
</div>

<div class= "d-flex justify-content-center align-items-center">
<%# ajouter un produit %>
  <%= link_to packages_path, class: "btn btn-add-product mt-4" do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
</div>
