 <div id="product-<%= product.id %>" class="card-product">
    <%= turbo_stream_from "product-#{product.id}" %>
        <div class="card-product-image">
          <%= cl_image_tag product.photo.key, class: "main-image" %>
          <%# <% raise %>
          <%# <img src="https://medias.maisonsdumonde.com/image/upload/ar_1:1,c_fill,f_auto,q_auto,w_354/v1/img/lit-180x200-beige-1000-8-6-187212_3.jpg"/> %>
        </div>
          <div class="card-product-infos">
            <%if fav %>
              <%= link_to package_path(package, product_id: product.id), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-trash trash-product"> </i>
              <% end %>
            <% end %>
            <div class="price"> <%= product.price.round %>€ </div>
            <h2 class="product-name"> <%= product.name.first(27) ? product.name.first(26) + "..." : product.name %> </h2>
            <p class="text-description">
              <% if product.description.present? %>
                <%= product.description.first(70) ? product.description.first(69) + "..." : product.description %>
                <a href="<%= product.url %>" target="_blank">Voir plus</a>
              <% else %>
                Ce produit est exceptionnel !!
                <a href="<%= product.url %>" target="_blank">Voir plus</a>
              <% end %>
            </p>
            <p class="shop-name mt-3"> <strong> <%= product.shop %> </strong></p>
          <%# bouton remplacer/update ajouter lien %>
          <% if fav == true %>
            <%= link_to package_replace_product_package_path(package, product_id: product.id), data: {turbo_method: :patch}, id: "replace-product", class: "replace-product-link" do %>
              <i class="fa-solid fa-arrows-rotate"></i>
            <% end %>
           <% end %>
          </div>
      </div>
