<%# banner %>

<div class="banner d-flex justify-content-center align-items-center" style="
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("brina-blum-nWX4pKwzLoE-unsplash_lc6xfb") %>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: 100vh;">
    <h1 class="text-center text-white">"Your style, your nest, effortlessly."</h1>
</div>

<%# bouton %>

<div class="container mt-4 mb-2 d-flex justify-content-center">
  <%= link_to new_package_path, class: "rounded-shadow-button d-flex align-items-center" do %>
    <i class="fa-solid fa-feather-pointed" style="color: #ffffff;"></i>Je crée mon nid
  <% end %>
</div>

<%# images doubles en colonnes %>
<div class="container position-relative">
  <div class="mb-4 mt-3 row row-cols-2 g-3 ">
    <div class="col">
      <div class="images-home">
          <div class="images-home-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("kyle-nieber-CYAzazB9RQ4-unsplash_m57rzq") %>')">
          </div>
        </div>
      </div>
    <div class="col">
      <div class="images-home">
        <div class="images-home-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("steph-wilson-MhsCRIaVQW0-unsplash_xvh7fx") %>')">
        </div>
      </div>
    </div>
  </div>
  <p class= "text-center" style="position: relative; top: 2px;"> <strong>"Nestify: votre assistant déco personnel"</strong></p>
  <div class="rectangle">
    <div class="carre" style="background-color:blue;"></div>
  </div>
</div>


<div class="container">
  <h1 class= "text-center padding-title"> Le concept </h1>
    <div class="text-center">
    <i class="fa-solid fa-clock mt-2 fs-4" style="color: #92cad7;"></i>
      <p>Gagnez du temps dans votre recherche d’aménagement.</p>
    <i class="fa-solid fa-wallet fs-4" style="color: #ffe7b8;"></i>
      <p>Respectez votre budget sans compromis sur le style.</p>
    <i class="fa-solid fa-heart fs-4" style="color: #8abecb;"></i>
      <p>Enregistrez vos coups de coeur et personnalisez à l’infini.</p>
   <i class="fa-solid fa-comments fs-4" style="color: #ffe7b8;"></i>
    <p>Bénéficiez de recommandations personnalisées grâce à Nesty, qui comprend vos envies.</p>
  </div>
</div>

<div class="container mt-4 position-relative">
  <div class="images-trois-home mb-1" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("timothy-buck-psrloDbaZc8-unsplash_ma9il9") %>')">
    </div>
  <h1 class= "text-center mt-4"> Les packages tendances </h1>
    <div class="rectangle-yellow">
      <div class="carre" style="background-color:yellow;"></div>
    </div>
</div>

<%# packages en colonnes %>
<div class="container mt-4">
  <div class="images-packages">
  <div class= "images-packages-grid">
    <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("spacejoy-AAy5l4-oFuw-unsplash_mfyrqk") %>')">
    </div>

    <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("spacejoy-IH7wPsjwomc-unsplash_r6tmdy") %>')">
    </div>

    <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("spacejoy-YI2YkyaREHk-unsplash_yh5gh2") %>')">
    </div>

    <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("spacejoy-YqFz7UMm8qE-unsplash_emvhrg") %>')">
    </div>

    <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("spacejoy-TKFskJy8PQ8-unsplash_hakyrc") %>')">
    </div>
    </div>
       <%# <p class= "text-center mt-1"> <strong> Le package salon Vintage Chic </strong> </p> %>
  </div>
</div>


<div class="container mt-4">
  <div class="images-packages">
    <div class= "images-packages-grid">
      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("evan-wise-zevKQbUrcbw-unsplash_rbba9s") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("minh-pham-7pCFUybP_P8-unsplash_jz00mg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("radoslav-bali-rtWu9kJ6TC0-unsplash_smmntj") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("zane-persaud-V8CSUtCP04E-unsplash_oelkre") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= Cloudinary::Utils.cloudinary_url("sven-brandsma-5PA3hf84iB0-unsplash_lbet3d") %>')">

      </div>
    </div>
    <%# <p class= "text-center package-title mt-1"> <strong> Le package chambre Rève Bohème </strong> </p> %>
  </div>
</div>

<div class="container mb-5">
  <h1 class= "text-center padding-title mt-4"> Ils ont choisi Nestify </h1>

    <div class="comments mt-4">
      <div class="comments-category position-relative">
        <span class= "comments-quote">"</span>
        <p>Nestify a fait de ma maison un vrai petit cocoon !</p>
      </div>

      <div class="comments-category position-relative">
        <span class= "comments-quote">"</span>
        <p> Un super service et de vrais conseils, je recommande.</p>
      </div>

      <div class="comments-category position-relative">
        <span class= "comments-quote">"</span>
        <p> Génial, la déco chez moi est trop belle. Merci Nestify !</p>
      </div>

      <div class="comments-category position-relative">
        <span class= "comments-quote">"</span>
        <p> Une solution au top. J'ai gagné un temps considérable !</p>
      </div>

      <div class="comments-category position-relative">
          <span class= "comments-quote">"</span>
          <p> Parfait ! </p>
      </div>
    </div>
  </div>
