<%# banner %>

<div class="banner d-flex justify-content-center align-items-center">
  <h1 class="text-center text-white">"Your style, your nest, effortlessly."</h1>
</div>

<%# bouton %>

<div class="container mt-4 mb-2 d-flex justify-content-center">
  <%= link_to new_package_path, class: "rounded-shadow-button d-flex align-items-center" do %>
    <i class="fa-solid fa-feather-pointed"></i>Je crée mon nid
  <% end %>
</div>

<%# images doubles en colonnes %>
<div class="container">
  <div class="mb-4 mt-3 row row-cols-2 g-3 ">
    <div class="col">
      <div class="images-home">
          <div class="images-home-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("kyle-nieber-CYAzazB9RQ4-unsplash.jpg") %>')">
          </div>
        </div>
      </div>
    <div class="col">
      <div class="images-home">
        <div class="images-home-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("steph-wilson-MhsCRIaVQW0-unsplash.jpg") %>')">
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class ="position-relative">
    <p class= "text-center nestify-assistant" style="position: relative; top: 2px;"> <strong>"Nestify: votre assistant déco personnel"</strong></p>
    <div class="rectangle">
    </div>
  </div>



<div class="container">
  <h1 class= "text-center padding-title-concept"> Le concept </h1>
    <div class="text-center">
    <i class="fa-solid fa-clock mt-2 logos-concept" style="color: #92cad7;"></i>
      <p>Gagnez du temps dans votre recherche d’aménagement.</p>
    <i class="fa-solid fa-wallet logos-concept" style="color: #ffe7b8;"></i>
      <p>Respectez votre budget sans compromis sur le style.</p>
    <i class="fa-solid fa-heart logos-concept" style="color: #8abecb;"></i>
      <p>Enregistrez vos coups de coeur et personnalisez à l’infini.</p>
   <i class="fa-solid fa-comments logos-concept " style="color: #ffe7b8;"></i>
    <p>Bénéficiez de recommandations personnalisées grâce à Nesty, qui comprend vos envies.</p>
  </div>
</div>

<div class="container mt-4">
  <div class="images-trois-home mb-1" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("timothy-buck-psrloDbaZc8-unsplash.jpg") %>')">
    </div>
  <h1 class="text-center text-packs-tendances mt-4"> Les packs tendances </h1>
  </div>
  <div class="position-relative">
    <div class="rectangle-yellow">
    </div>
  </div>


<%# packages en colonnes %>
<div class="container mt-4">
  <div class="images-packages">
    <div class= "images-packages-grid">
      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("spacejoy-AAy5l4-oFuw-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("spacejoy-IH7wPsjwomc-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("spacejoy-YI2YkyaREHk-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("spacejoy-YqFz7UMm8qE-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("spacejoy-TKFskJy8PQ8-unsplash.jpg") %>')">
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="images-packages">
    <div class= "images-packages-grid">
      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("evan-wise-zevKQbUrcbw-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("minh-pham-7pCFUybP_P8-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("radoslav-bali-rtWu9kJ6TC0-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("zane-persaud-V8CSUtCP04E-unsplash.jpg") %>')">
      </div>

      <div class="images-packages-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= asset_path("sven-brandsma-5PA3hf84iB0-unsplash.jpg") %>')">

      </div>
    </div>
  </div>
</div>

<div class="container container-comments">
  <h1 class= "text-center padding-title mt-4"> Ils ont choisi Nestify </h1>

    <div class="comments mt-4">
      <div class="comments-category position-relative">
         <div class="quote-icon mb-2">
          <i class="fas fa-quote-left text-primary"></i>
        </div>
        <p class= "mt-4 text-reviews"> <strong>  Nestify a fait de ma maison un vrai petit cocoon ! - Romain  </strong> </p>
      </div>

      <div class="comments-category position-relative">
         <div class="quote-icon mb-2">
          <i class="fas fa-quote-left text-primary"></i>
        </div>
        <p class= "mt-4 text-reviews"> <strong>  Un super service et de vrais conseils, je recommande. - Julie  </strong></p>
      </div>

      <div class="comments-category position-relative">
         <div class="quote-icon mb-2">
          <i class="fas fa-quote-left text-primary"></i>
        </div>
        <p class= "mt-4 text-reviews"> <strong>  Génial, la déco chez moi est trop belle. Merci Nestify ! - Morgane  </strong> </p>
      </div>

      <div class="comments-category position-relative">
         <div class="quote-icon mb-2">
          <i class="fas fa-quote-left text-primary"></i>
        </div>
        <p class= "mt-4 text-reviews"> <strong>  Une solution au top.
        J'ai gagné un temps considérable ! - Xavier </strong></p>
      </div>

      <div class="comments-category position-relative">
           <div class="quote-icon mb-2">
          <i class="fas fa-quote-left text-primary"></i>
        </div>
          <p class= "mt-4 text-reviews"> <strong>  Parfait ! - Thomas </strong>  </p>
      </div>
    </div>
  </div>
