<div class="container mt-4">

  <!-- Formulaire unique -->
  <%= form_with url: packages_path, method: :post, local: true, data: { controller: "package-form"} do |f| %>

    <!-- Première Carte -->
    <div class="card-package mb-4 position-relative rounded shadow" data-package-form-target="firstQuestion">
      <div class="card-image blurred-image" style="background-image:url('<%= Cloudinary::Utils.cloudinary_url("radoslav-bali-rtWu9kJ6TC0-unsplash_sfybvn") %>'); background-size: cover; background-position: center; height: 250px; border-radius: 15px;">
        <div class="text-on-image text-center position-relative">
          <h1 class="card-title">Question</h1>
          <h2 class="card-subtitle">Comment te définis-tu en matière de décoration et ameublement ?</h2>
        </div>
      </div>
      <div class="card-body">
        <div class="d-grid gap-3 mt-4">
          <%= f.radio_button :definition, "nul", id: "definition_nul", class: "btn-check" %>
          <%= f.label :definition, "Je suis nul et ça ne m'intéresse pas", for: "definition_nul", class: "btn btn-nul w-100", data: {action: "click->package-form#displaySecondQuestion"} %>

          <%= f.radio_button :definition, "aime_pas_temps", id: "definition_aime_pas_temps", class: "btn-check" %>
          <%= f.label :definition, "J'aime bien mais je n'ai pas le temps", for: "definition_aime_pas_temps", class: "btn btn-aime w-100", data: {action: "click->package-form#displaySecondQuestion"} %>

          <%= f.radio_button :definition, "passionne", id: "definition_passionne", class: "btn-check" %>
          <%= f.label :definition, "Je suis passionné de déco et je viens ici pour m'inspirer", for: "definition_passionne", class: "btn btn-passionne w-100", data: {action: "click->package-form#displaySecondQuestion"} %>
        </div>
      </div>
    </div>

    <!-- Deuxième Carte -->
    <div class="card-package mb-4 position-relative rounded shadow second-card d-none" data-package-form-target="secondQuestion">
      <div class="card-image blurred-image" style="background-image:url('<%= Cloudinary::Utils.cloudinary_url("cameron-smith-CTxNVSiWZBw-unsplash_e1kdub") %>'); background-size: cover; background-position: center; height: 250px; border-radius: 15px;">
        <div class="text-on-image text-center position-relative">
          <h1 class="card-title">Question</h1>
          <h2 class="card-subtitle">Quelle pièce veux-tu meubler et décorer ?</h2>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= f.check_box :salon, class: "form-check-input me-2" %>
            <%= f.label :salon, "Salon", class: "form-check-label" %>
          </li>
          <li class="list-group-item">
            <%= f.check_box :chambre, class: "form-check-input me-2" %>
            <%= f.label :chambre, "Chambre", class: "form-check-label" %>
          </li>
          <li class="list-group-item">
            <%= f.check_box :salle_de_bain, class: "form-check-input me-2" %>
            <%= f.label :salle_de_bain, "Salle de Bain", class: "form-check-label" %>
          </li>
          <li class="list-group-item">
            <%= f.check_box :cuisine, class: "form-check-input me-2" %>
            <%= f.label :cuisine, "Cuisine", class: "form-check-label" %>
          </li>
        </ul>
        <div class="text-center mt-3">
          <%= f.submit "Valider", class: "btn btn-valider", data: {action: "click->package-form#displayThirdQuestion"} %>
        </div>
      </div>
    </div>

    <!-- Troisième Carte -->
    <div class="card-package mb-4 position-relative rounded shadow third-card d-none" data-package-form-target="thirdQuestion">
      <div class="card-image blurred-image" style="background-image:url('<%= Cloudinary::Utils.cloudinary_url("bailey-alexander-cYeCxtKpTTQ-unsplash_zdcd9j") %>'); background-size: cover; background-position: center; height: 250px; border-radius: 15px;">
        <div class="text-on-image text-center position-relative">
          <h1 class="card-title">Budget</h1>
          <h2 class="card-subtitle">Quel est le budget que tu veux allouer à ton projet déco ?</h2>
        </div>
      </div>
      <div class="card-body">
        <div class="room1">
          <div class="room-title text-center mb-2">Pièce 1</div>
          <div class="d-flex justify-content-evenly align-items-center mb-3">
            <button type="button" class="btn btn-secondary minus">-</button>
            <%= f.number_field :budget_salon, class: "budget-input text-center", placeholder: "Budget (€)", value: 0 %>
            <button type="button" class="btn btn-secondary plus">+</button>
          </div>
        </div>

        <div class="room2">
          <div class="room-title text-center mb-2">Pièce 2</div>
          <div class="d-flex justify-content-evenly align-items-center mb-3">
            <button type="button" class="btn btn-secondary minus">-</button>
            <%= f.number_field :budget_chambre, class: "budget-input text-center", placeholder: "Budget (€)", value: 0 %>
            <button type="button" class="btn btn-secondary plus">+</button>
          </div>
        </div>

        <div class="room3">
          <div class="room-title text-center mb-2">Pièce 3</div>
          <div class="d-flex justify-content-evenly align-items-center mb-3">
            <button type="button" class="btn btn-secondary minus">-</button>
            <%= f.number_field :budget_cuisine, class: "budget-input text-center", placeholder: "Budget (€)", value: 0 %>
            <button type="button" class="btn btn-secondary plus">+</button>
          </div>
        </div>

        <div class="text-center mt-3">
          <%= f.submit "Valider", class: "btn btn-validate" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
