<div class="container">

  <div class="text-center mt-3">
    <h1>Ton nid-éal...</h1>
  </div>

  <div class="text-center mt-3">
    <p>
      Tu trouveras ici tous tes packages favoris. Tu peux les personnaliser et indiquer qu'ils ont été acheté pour mettre à jour ton budget.
    </p>
  </div>

  <div >
    <h3 class="budget-favoris text-center"> Ton budget: <%= current_user.budget %> € </h3>
  </div>

<%# <%=current_user.budget.round - current_user.proposals.favorite.first.package.budget.round%>

  <%= render "packages/chambre_packages", package_chambre: @package_chambre %>

  <%= render "packages/salon_packages", package_salon: @package_salon %>

  <%= render "packages/salle_de_bain_packages", package_sdb: @package_sdb %>

  <%= render "packages/cuisine_packages", package_cuisine: @package_cuisine %>

</div>
